.top_wrap, .header_wrap, .nav_wrap, .wrap, .footer .wrap, .copyright .wrap {
  width: 1190px;
  margin: 0 auto; }

i {
  background: url(../img/index_new_icos.png) no-repeat;
  vertical-align: middle;
  display: inline-block; }

.top {
  background: #f6f6f6; }

.top_wrap {
  height: 35px; }
  .top_wrap .top_position {
    float: left; }
    .top_wrap .top_position i {
      display: inline-block;
      width: 15px;
      height: 20px;
      background-position: 0 -1px; }
    .top_wrap .top_position span {
      line-height: 35px;
      color: #333;
      cursor: pointer; }
  .top_wrap .top_nav {
    float: right;
    height: 20px;
    line-height: 35px; }
    .top_wrap .top_nav li {
      float: left;
      color: #999; }
    .top_wrap .top_nav a {
      color: #999; }
    .top_wrap .top_nav a:hover {
      color: #2979ff; }
    .top_wrap .top_nav .login {
      background: #33beff;
      border-radius: 3px;
      padding: 3px 5px;
      color: #fff;
      margin-left: 5px; }

.links_ver {
  width: 1px;
  height: 10px;
  background: #999;
  margin: 12px 10px 0; }

.header_wrap {
  padding: 33px 0 15px; }

.logo {
  float: left;
  padding-left: 15px; }
  .logo .logo_img {
    margin-right: 10px; }

.search {
  float: left;
  width: 540px;
  padding-left: 90px; }
  .search .searchbox input {
    width: 470px;
    height: 30px;
    padding: 0 10px;
    border: 1px solid #2979ff;
    line-height: 30px; }
  .search .searchbox button {
    width: 50px;
    height: 32px;
    border: 0;
    vertical-align: middle;
    background: #2979ff url(../img/index_new_icos.png) no-repeat -62px 1px;
    margin-left: -6px;
    cursor: pointer; }
  .search p {
    padding: 5px 0;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .search p a {
      margin-right: 10px;
      color: #999; }

.cart {
  float: left;
  width: 168px;
  height: 31px;
  border: 1px solid #eaeaea;
  position: relative;
  margin-left: 90px; }
  .cart .cart_show {
    padding: 7px 44px 0; }
    .cart .cart_show i {
      display: inline-block;
      width: 15px;
      height: 15px;
      background-position: -75px -232px;
      vertical-align: bottom; }
    .cart .cart_show a {
      line-height: 15px;
      vertical-align: middle;
      color: #000; }
    .cart .cart_show span {
      position: absolute;
      left: 124px;
      top: 5px;
      background: #f40;
      width: 14px;
      height: 14px;
      line-height: 14px;
      border-radius: 7px;
      text-align: center;
      color: #fff; }

.nav {
  font-size: 14px;
  background: #2979ff; }

.nav_wrap {
  height: 40px;
  line-height: 40px; }
  .nav_wrap a {
    color: #fff; }
  .nav_wrap .nav_left {
    float: left;
    width: 192px;
    background: rgba(0, 0, 0, 0.4);
    position: relative; }
    .nav_wrap .nav_left a {
      display: block;
      padding-left: 15px; }
    .nav_wrap .nav_left i {
      display: inline-block;
      width: 25px;
      height: 25px;
      background-position: -33px -0px;
      position: absolute;
      right: 15px;
      top: 10px; }
  .nav_wrap .nav_right {
    float: left;
    margin-left: 15px; }
    .nav_wrap .nav_right li {
      float: left;
      padding: 0 24px;
      font-weight: 700; }

.container {
  background: #f2f2f2; }

.mod_hd {
  height: 60px;
  line-height: 60px;
  border-radius: 10px 10px 0 0;
  padding: 0 18px; }
  .mod_hd h2 {
    float: left;
    color: #fff;
    font-size: 18px;
    font-weight: 400; }

.main_top {
  height: 430px;
  position: relative; }

.banner {
  width: 952px;
  height: 430px;
  float: left;
  background: #e1ee9a; }

.right_inf {
  width: 230px;
  float: right;
  background: #fff; }

.user_inf {
  padding: 10px;
  text-align: center; }
  .user_inf .userimg {
    width: 66px;
    height: 66px;
    margin: 0 auto;
    background: url(../img/idx_no_login.png) no-repeat -3px -3px; }
    .user_inf .userimg a {
      display: block;
      height: 66px; }
  .user_inf .user_n {
    height: 20px;
    line-height: 20px;
    padding: 5px 0; }
  .user_inf .user_login a {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    border-radius: 2px;
    padding: 4px 11px;
    background-color: #2979ff;
    margin: 0 5px;
    color: #fff; }

.vip_inf {
  overflow: hidden; }
  .vip_inf a {
    display: block;
    float: left;
    text-align: center;
    width: 50%;
    padding: 8px 0;
    border: 1px solid #eaeaea;
    border-left: 0; }
    .vip_inf a i {
      display: block;
      width: 28px;
      height: 22px;
      margin-bottom: 5px;
      position: relative;
      left: 50%;
      margin-left: -14px; }
  .vip_inf .left_vip {
    margin-left: -1px; }
    .vip_inf .left_vip i {
      background-position: 0 -40px; }
  .vip_inf .left_vip:hover {
    color: #2979ff; }
    .vip_inf .left_vip:hover i {
      background-position: -36px -40px; }
  .vip_inf .right_wei {
    border-right: 0; }
    .vip_inf .right_wei i {
      background-position: 0 -73px; }
  .vip_inf .right_wei:hover {
    color: #2979ff; }
    .vip_inf .right_wei:hover i {
      background-position: -36px -73px; }

.notice_inf {
  padding: 0 10px 10px; }
  .notice_inf .notice_head {
    height: 32px;
    line-height: 32px;
    border-bottom: 1px #eaeaea solid; }
    .notice_inf .notice_head span {
      float: left;
      border-bottom: 1px #2979ff solid;
      color: #333; }
    .notice_inf .notice_head a {
      float: right; }
  .notice_inf .notice_list {
    padding-top: 8px; }
    .notice_inf .notice_list li {
      height: 22px;
      line-height: 22px;
      overflow: hidden; }

.service_inf {
  border-top: 1px solid #eaeaea;
  overflow: hidden; }
  .service_inf li {
    float: left;
    height: 40px;
    line-height: 40px;
    border-right: 1px #eaeaea solid;
    border-bottom: 1px #eaeaea solid;
    width: 50%;
    margin-right: -1px;
    margin-bottom: -1px;
    text-align: center; }
    .service_inf li a:hover {
      color: #2979ff; }
    .service_inf li i {
      width: 25px;
      height: 25px;
      margin-right: 3px; }
  .service_inf li:nth-of-type(1) i {
    background-position: 0 -131px; }
  .service_inf li:nth-of-type(2) i {
    background-position: -36px -163px; }
  .service_inf li:nth-of-type(3) i {
    background-position: 0 -131px; }
  .service_inf li:nth-of-type(4) i {
    background-position: -36px -163px; }

.nav_list {
  width: 192px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 14px;
  padding: 15px 0; }
  .nav_list li {
    height: 36px;
    line-height: 36px;
    padding-left: 12px;
    position: relative; }
    .nav_list li a {
      color: #fff;
      display: block; }
    .nav_list li i {
      display: inline-block;
      width: 8px;
      height: 13px;
      background: url(../img/jiantou.png) no-repeat;
      position: absolute;
      right: 10px;
      top: 12px; }

.part {
  margin-top: 30px; }
  .part ul {
    margin-left: -10px; }
  .part li {
    width: 290px;
    height: 150px;
    position: relative;
    float: left;
    overflow: hidden;
    margin-left: 10px; }
    .part li img {
      width: 300px;
      height: 150px; }

.rec_hd {
  background: #2979ff;
  margin-top: 30px; }
  .rec_hd h2 i {
    width: 32px;
    height: 32px;
    margin-right: 6px;
    background-position: -37px -231px; }

.rec_bd {
  padding: 10px;
  background-color: #fff;
  overflow: hidden; }
  .rec_bd .left_img {
    float: left;
    width: 220px;
    overflow: hidden; }
    .rec_bd .left_img img {
      width: 230px;
      height: 400px; }

.new {
  margin-top: 30px;
  overflow: hidden; }
  .new .new_ul {
    margin-left: -10px; }

.new_all {
  float: left;
  width: 390px;
  margin-left: 10px;
  background-color: #fff; }
  .new_all .new_com_hd {
    background: #7aa58f; }
  .new_all .custom_made_hd {
    background: #9aa76f; }
  .new_all .help_sel_hd {
    background: #c8af64; }

.new_com_bd {
  height: 400px; }

.good {
  margin-top: 30px;
  background: #fff; }

.good_hd {
  position: relative;
  padding: 0; }
  .good_hd h2 {
    position: absolute;
    height: 56px;
    top: -10px;
    line-height: 56px;
    background-color: #2979ff;
    padding: 0 18px;
    border-radius: 10px 10px 0 0;
    float: left; }
    .good_hd h2 i {
      width: 32px;
      height: 32px;
      margin-right: 6px;
      background-position: 0 -270px; }

.good_tab {
  float: left;
  margin-left: 156px;
  overflow: hidden; }
  .good_tab li {
    float: left;
    position: relative;
    border-bottom: 2px solid #eaeaea;
    margin-left: -1px;
    width: 128px;
    text-align: center;
    line-height: 46px; }
    .good_tab li a {
      display: block; }
    .good_tab li i {
      width: 25px;
      height: 40px;
      overflow: hidden; }
  .good_tab li:nth-of-type(1) i {
    background-position: -75px -356px; }
  .good_tab li:nth-of-type(2) i {
    background-position: -175px -356px; }
  .good_tab li:nth-of-type(3) i {
    background-position: 0px -356px; }
  .good_tab li:nth-of-type(4) i {
    background-position: -25px -356px; }
  .good_tab li:nth-of-type(5) i {
    background-position: -50px -356px; }
  .good_tab li:nth-of-type(6) i {
    background-position: -100px -356px; }
  .good_tab li:nth-of-type(7) i {
    background-position: -125px -356px; }
  .good_tab li:nth-of-type(8) i {
    background-position: -150px -356px; }

.good_bd {
  height: 300px; }

.review {
  margin-top: 30px; }
  .review .review_hd {
    background: #2979ff; }
    .review .review_hd i {
      width: 32px;
      height: 32px;
      margin-right: 6px;
      background-position: -41px -271px; }

.review_bd {
  height: 300px; }

.foryou {
  margin-top: 30px; }
  .foryou .foryou_hd {
    background: #2979ff; }
    .foryou .foryou_hd i {
      width: 32px;
      height: 32px;
      margin-right: 6px;
      background-position: 0 -313px; }

.foryou_bd {
  height: 300px; }

.footer {
  background: #fff; }

.footer_top {
  padding: 35px 0 25px;
  border-bottom: 1px #eaeaea solid; }
  .footer_top li {
    width: 25%;
    position: relative;
    float: left; }
    .footer_top li a {
      display: block;
      padding-left: 25px; }
    .footer_top li p {
      margin-bottom: 3px;
      color: #333;
      font-weight: 400; }
    .footer_top li i {
      width: 43px;
      height: 43px;
      float: left;
      margin-right: 5px; }

.footer_top li:nth-of-type(1) i {
  background-position: 0px -444px; }

.footer_top li:nth-of-type(2) i {
  background-position: -50px -444px; }

.footer_top li:nth-of-type(3) i {
  background-position: -100px -444px; }

.footer_top li:nth-of-type(4) i {
  background-position: -150px -444px; }

.footer_bot {
  padding: 20px 0 40px; }
  .footer_bot .help_left {
    float: left;
    width: 73%;
    position: relative;
    padding-left: 2%;
    border-right: 1px solid #eaeaea; }

.help-item {
  float: left;
  width: 20%; }
  .help-item dt {
    color: #333;
    margin-bottom: 18px; }
  .help-item dd {
    line-height: 22px; }
    .help-item dd a:hover {
      color: #2979ff; }

.help_right {
  float: left;
  width: 24%;
  padding: 28px 0 0; }
  .help_right .kf-btn {
    display: block;
    width: 128px;
    height: 28px;
    line-height: 28px;
    margin: 0 auto 24px;
    border: 1px solid #eaeaea;
    position: relative; }
    .help_right .kf-btn i {
      width: 22px;
      height: 22px;
      margin-left: 20px;
      margin-right: 6px;
      background-position: -72px -201px; }

.copyright {
  padding: 15px 0;
  background: #f2f2f2; }
  .copyright .wrap {
    text-align: center; }
    .copyright .wrap .a_links {
      margin-bottom: 10px; }
    .copyright .wrap a:hover {
      color: #2979ff; }
    .copyright .wrap p {
      margin: 6px 0;
      color: #999; }
    .copyright .wrap .honor {
      margin-top: 36px; }
      .copyright .wrap .honor a {
        margin: 5px; }
