$top_height:35px;
$font_c:#999;
$hover_c:#2979ff;
$bg_image:url(../img/index_new_icos.png);
$bg_position:background-position;


//header
.header_wrap {
    @extend %wrap;
    padding: 33px 0 15px;
}

.logo {
    float: left;
    padding-left: 15px;
    .logo_img {
        margin-right: 10px;
    }
}

.search {
    float: left;
    width: 540px;
    padding-left: 90px;
    .searchbox {
        
        input {
            width: 470px;
            height: 30px;
            padding: 0 10px;
            border: 1px solid $hover_c;
            line-height: 30px;
        }
        button {
            width: 50px;
            height: 32px;
            border: 0;
            vertical-align: middle;
            background: $hover_c $bg_image no-repeat -62px 1px;
            margin-left: -6px;
            cursor: pointer;
        }
    }
    p {
        padding: 5px 0;
        line-height: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        a {
            margin-right: 10px;
            color: $font_c;
        }
    }
}


.cart {
    float: left;
    width: 168px;
    height: 31px;
    border: 1px solid #eaeaea;
    position: relative;
    margin-left: 90px;
    .cart_show {
        padding: 7px 44px 0;
        i {
            display: inline-block;
            width: 15px;
            height: 15px;
            #{$bg_position}: -75px -232px;
            vertical-align: bottom;
        }
        a {
            line-height: 15px;
            vertical-align: middle;
            color: #000;
        }
        span {
            position: absolute;
            left: 124px;
            top: 5px;
            background: #f40;
            width: 14px;
            height: 14px;
            line-height: 14px;
            border-radius: 7px;
            text-align: center;
            color: #fff;
        }
    }
}

//导航
.nav {
    font-size: 14px;
    background: $hover_c;
}

.nav_wrap {
    @extend %wrap;
    height: 40px;
    line-height: 40px;
    a {
        color: #fff;
    }
    .nav_left {
        float: left;
        width: 192px;
        background: rgba(0, 0, 0, 0.4);
        position: relative;
        a {
            display: block;
            padding-left: 15px;
        }
        i {
            display: inline-block;
            width: 25px;
            height: 25px;
            #{$bg_position}: -33px -0px;
            position: absolute;
            right: 15px;
            top: 10px;
        }
    }
    .nav_right {
        float: left;
        margin-left: 15px;
        li {
            float: left;
            padding: 0 24px;
            font-weight: 700;
            position: relative;
            i {
                position: absolute;
                top: 9px;
                right: 5px;
                width: 18px;
                height: 15px;
            }
            .li2_ico {
                #{$bg_position}: 0 -597px;
            }
            .li3_ico {
                #{$bg_position}: 0 -623px;
            }
            .li4_ico {
                #{$bg_position}: 0 -597px;
            }
            .li5_ico {
                #{$bg_position}: 0 -648px;
            }
        }
    }
}


//幻灯片左边导航
.nav_list {
    width: 192px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    opacity: 0.6;
    filter: alpha(opacity=60);
    color: #fff;
    font-size: 14px;
    padding: 15px 0;
    li {
        height: 36px;
        line-height: 36px;
        padding-left: 12px;
        position: relative;
        a {
            color: #fff;
            display: block;
        }
        i {
            display: inline-block;
            width: 8px;
            height: 13px;
            background: url(../img/jiantou.png) no-repeat;
            position: absolute;
            right: 10px;
            top: 12px;
        }
    }
}

.box {
    position: absolute;
    width: 0;
    left: 192px;
    //background: #fff;
    overflow: hidden;
    height: 430px;
}

.bx_box,
.kt_box,.xyj_box {
    //width: 447px;
    width: 447px;
    overflow: hidden;
    height: 430px;
    background: #fff;
    position: absolute;
    display: none;
    z-index: 12;
}

.pro_list {
    width: 207px;
    height: 100%;
    margin-top: 5px;
    float: left;
    p {
        margin: 2px 0 10px 35px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 900px;
    }
    li {
        height: 50px;
        line-height: 50px;
        a {
            display: block;
            height: 50px;
            line-height: 50px;
            padding-left: 80px;
            position: relative;
        }
        i {
            width: 40px;
            height: 40px;
            background-image: url(../img/list.png);
            background-repeat: no-repeat;
            position: absolute;
            top: 5px;
            left: 30px;
        }
    }
}




.pro_box {
    float: left;
    li {
        width: 232px;
        height: 104px;
        border: 4px solid #ccc;
        border-bottom: 0;
        position: relative;
        img {
            width: 70px;
            height: 70px;
            margin: 20px 28px 0 17px;
            float: left;
        }
        h4 {
            float: left;
            width: 90px;
            margin: 20px 0 6px;
            height: 36px;
            overflow: hidden;
        }
        strong{
            position: absolute;
            left:113px;
            top:70px;
            color: #FF4400;
        }
    }
}