@import "top";
@import "footer";
@import "copyright";

$line-ht:line-height;
$num-c:#d71249;
$form-bgc:#f5f5f5;

%wrap {
    width: 1000px;
    margin: 0 auto;
}
@mixin left(){
    float: left;
}

.header_wrap {
    @extend %wrap;
}

.logo {
    @include left;
    height: 95px;
    width: 220px;
    .logo_img {
        width: 135px;
        height: 39px;
        @include left;
        margin: 28px 14px 0 0;
    }
    .shopping {
        width: 60px;
        @include left;
        #{$line-ht}: 95px;
        font-size: 20px;
        color: #555555;
    }
}

.Shopping_process {
    float: right;
    width: 628px;
    height: 95px;
    .my_cart {
        width: 200px;
        color: #fff;
        height: 30px;
        #{$line-ht}: 30px;
        font-size: 15px;
        margin: 32px 0;
        @include left;
        text-align: center;
        background: #23519e;
    }
    .l_img {
        width: 20px;
        height: 30px;
        margin: 32px 0;
        display: inline-block;
        @include left;
        background: url(../img/cartsp.png) no-repeat 0 -368px;
    }
    .order {
        @extend .my_cart;
        width: 184px;
        background: #a7b0b5;
    }
    .r_img {
        @extend .l_img;
        background-position: 0 -403px;
    }
    .success_order {
        @extend .my_cart;
        background: #a7b0b5;
    }
}

.container {
    .wrap {
        @extend %wrap;
        padding: 40px 0 20px;
    }
}

.form {
    border: 1px solid #e2e2e2;
}

.form_hd {
    height: 40px;
    #{$line-ht}: 40px;
    background: #f5f5f5;
    color: #909090;
    text-align: right;
    li {
        @include left;
    }
    .all_select {
        width: 59px;
        input {
            display: inline-block;
            margin-right: 3px;
        }
    }
    .wares {
        width: 144px;
    }
    .show_have {
        width: 236px;
    }
    .shopping_cost {
        width: 77px;
    }
    .quantity {
        width: 85px;
    }
    .isbenefit {
        width: 123px;
    }
    .subtotal_money {
        width: 111px;
    }
    .handle {
        width: 92px;
    }
}

.form_bd{
    .empty {
        background: url(../img/cart_no_ico.png) no-repeat 300px 50px;
        #{$line-ht}: 32px;
        margin-bottom: 40px;
        padding: 80px 0 10px 450px;
        width: 400px;
        height: 100px;
        font-size: 16px;
    }
}

.total {
    height: 39px;
    padding-right: 20px;
    background: #f5f5f5;
    .total_all {
        width: auto;
        height: 40px;
        #{$line-ht}: 40px;
        float: right;
        .total_color {
            color: $num-c;
        }
    }
}

.sep {
    margin: 6px 0;
    .huabei {
        text-align: right;
        #{$line-ht}: 25px;
        padding-right: 10px;
        i {
            vertical-align: top;
            margin: 0 5px;
        }
    }
}

.account {
    margin-bottom: 50px;
    height: 50px;
    #{$line-ht}: 50px;
    color: #909090;
    background: #f5f5f5;
    .account_left {
        margin-left: 20px;
        .selection {
            width: 72px;
            @include left;
        }
        .delshopping {
            @extend .selection;
            cursor: pointer;
        }
    }
    .account_right {
        float: right;
        .account_color {
            color: $num-c;
            font-size: 16px;
            font-weight: 700;
        }
        .account_sub {
            @extend .account_color;
            display: inline-block;
            width: 134px;
            height: 50px;
            #{$line-ht}: 50px;
            color: #fff;
            letter-spacing: 1px;
            background: $num-c;
            text-align: center;
            margin-left: 10px;
            border-radius: 3px;
            text-shadow: 0 1px 2px #980d34;
            cursor: pointer;
        }
    }
}