@import "top";
@import "header";
@import "footer";
@import "copyright";
$white:#fff;
$blue:#2979ff;
$border-s:1px solid #eaeaea;
$bg-position:background-position;
.container {
    background: #f2f2f2;
}

@mixin left() {
    float: left;
}

@mixin width-height($w, $h) {
    width: $w;
    height: $h;
}

//兼容border-raidus
@mixin border-r($lt:10px, $rt:10px, $rb:0, $lb:0) {
    border-radius: $lt $rt $rb $lb;
    -webkit-border-radius: $lt $rt $rb $lb;
    -ms-border-radius: $lt $rt $rb $lb;
    -o-border-radius: $lt $rt $rb $lb;
    -moz-border-radius: $lt $rt $rb $lb;
}

.wrap {
    @extend %wrap;
}

//各版块标题
.mod_hd {
    height: 60px;
    line-height: 60px;
    @include border-r;
    padding: 0 18px;
    h2 {
        @include left;
        color: $white;
        font-size: 18px;
        font-weight: 400;
    }
}

//幻灯片部分
.main_top {
    height: 430px;
    position: relative;
}

.banner {
    @include width-height(952px, 430px);
    @include left;
    position: relative;
    overflow: hidden;
    background: #cc8585;
    ul {
        width: 10000px;
        position: absolute;
        z-index: 4px;
        li {
            float: left;
        }
    }
    .banner_left{
        position: absolute;
        width: 20px;
        height: 60px;
        left: 210px;
        top:170px;
        #{$bg-position}: -125px -31px;
        cursor: pointer;
        z-index: 5;
    }
    .banner_right{
        @extend .banner_left;
        left: 920px;
        #{$bg-position}: -158px -31px;
    }
    .dot{
        position: absolute;
        bottom: 12px;
        left: 450px;
        padding: 3px 8px;
        border-radius: 10px;
        background: rgba(0,0,0,0.3);
        line-height: 12px;
        z-index: 5;
        span{
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: #b6b6b6;
            cursor: pointer;
            z-index: 5;
        }
        .active{
            background: #ff4949;
        }
    }
}


//幻灯片右边部分
.right_inf {
    width: 230px;
    float: right;
    background: $white;
}

.user_inf {
    padding: 10px;
    text-align: center;
    .userimg {
        @include width-height(66px, 66px);
        margin: 0 auto;
        background: url(../img/idx_no_login.png) no-repeat -3px -3px;
        a {
            display: block;
            height: 66px;
        }
    }
    .user_n {
        height: 20px;
        line-height: 20px;
        padding: 5px 0;
    }
    .user_login {
        a {
            height: 24px;
            line-height: 24px;
            font-size: 12px;
            @include border-r(2px, 2px, 2px, 2px);
            padding: 4px 11px;
            background-color: $blue;
            margin: 0 5px;
            color: $white;
        }
    }
}

.vip_inf {
    overflow: hidden;
    a {
        display: block;
        @include left;
        text-align: center;
        width: 50%;
        padding: 8px 0;
        border: $border-s;
        border-left: 0;
        i {
            display: block;
            @include width-height(28px, 22px);
            margin-bottom: 5px;
            position: relative;
            left: 50%;
            margin-left: -14px;
        }
    }
    .left_vip {
        margin-left: -1px;
        i {
            #{$bg-position}: 0 -40px;
        }
    }
    .left_vip:hover {
        color: $blue;
        i {
            #{$bg-position}: -36px -40px;
        }
    }
    .right_wei {
        border-right: 0;
        i {
            #{$bg-position}: 0 -73px;
        }
    }
    .right_wei:hover {
        color: $blue;
        i {
            #{$bg-position}: -36px -73px;
        }
    }
}

.notice_inf {
    padding: 0 10px 10px;
    .notice_head {
        height: 32px;
        line-height: 32px;
        border-bottom: 1px #eaeaea solid;
        span {
            @include left;
            border-bottom: 1px $blue solid;
            color: #333;
        }
        a {
            float: right;
        }
    }
    .notice_list {
        padding-top: 8px;
        li {
            height: 22px;
            line-height: 22px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.service_inf {
    border-top: $border-s;
    overflow: hidden;
    li {
        @include left;
        @include width-height(50%, 40px);
        line-height: 40px;
        border-right: $border-s;
        border-bottom: $border-s;
        margin-right: -1px;
        margin-bottom: -1px;
        text-align: center;
        a:hover {
            color: $blue;
        }
        i {
            @include width-height(25px, 25px);
            margin-right: 3px;
        }
    }
    li:first-child i {
        #{$bg-position}: 0 -131px;
    }
    li:first-child+li i {
        #{$bg-position}: -36px -132px;
    }
    li:first-child+li+li i {
        #{$bg-position}: 0 -163px;
    }
    li:first-child+li+li+li i {
        #{$bg-position}: -36px -163px;
    }
}

//幻灯片左边导航
.nav_list {
    @include width-height(192px, 400px);
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    opacity: 0.6;
    filter: alpha(opacity=60);
    color: $white;
    font-size: 14px;
    padding: 15px 0;
    li {
        height: 36px;
        line-height: 36px;
        padding-left: 12px;
        position: relative;
        a {
            color: $white;
            display: block;
        }
        i {
            display: inline-block;
            @include width-height(8px, 13px);
            background: url(../img/jiantou.png) no-repeat;
            position: absolute;
            right: 10px;
            top: 12px;
        }
    }
}

//各分会场
.part {
    margin-top: 30px;
    ul {
        margin-left: -10px;
    }
    li {
        @include width-height(290px, 150px);
        position: relative;
        @include left;
        overflow: hidden;
        margin-left: 10px;
        img {
            @include width-height(300px, 150px);
            position: absolute;
            left: 0;
        }
    }
}

//精品推荐
.rec_hd {
    background: $blue;
    margin-top: 30px;
    h2 {
        i {
            @include width-height(32px, 32px);
            margin-right: 6px;
            #{$bg-position}: -37px -231px;
        }
    }
}

.rec_bd {
    padding: 10px;
    background-color: $white;
    
    .left_img {
        @include left;
        width: 220px;
        overflow: hidden;
        position: relative;
        a{
           display: block;
           height: 400px; 
        }
        img {
            @include width-height(230px, 400px);
            position: absolute;
            left: 0;
        }
    }
}

.right_com {
    float: right;
    width: 930px;
    position: relative;
    .line1 {
        position: absolute;
        width: 1px;
        height: 100%;
        background: #eaeaea;
        left: 309px;
    }
    .line2 {
        @extend .line1;
        left: 618px;
    }
    .line3 {
        @extend .line1;
        width: 920px;
        height: 1px;
        left: 0;
        top: 200px;
    }
    li {
        float: left;
        width: 270px;
        padding: 20px;
        height: 160px;
        position: relative;
        img {
            float: left;
            margin: 20px 20px 0 0;
            width: 135px;
            height: 135px;
            position: relative;
            left: 0;
        }
        h4 {
            width: 112px;
            height: 36px;
            float: left;
            margin-top: 50px;
            margin-bottom: 12px;
        }
        strong {
            font-size: 14px;
            color: #ff4949;
        }
        span {
            position: absolute;
            padding: 2px 5px;
            color: #fff;
            right: 10px;
            top: 10px;
            background: #FF4400;
        }
    }
}

//新品首发、我要定制、帮您选
.new {
    margin-top: 30px;
    overflow: hidden;
    .new_ul {
        margin-left: -10px;
    }
    a:hover {
        color: $blue;
        p {
            color: $blue;
        }
        span {
            color: $blue;
            border-color: $blue;
        }
    }
}

.new_all {
    @include left;
    width: 390px;
    margin-left: 10px;
    background-color: $white;
    .new_com_hd {
        background: #7aa58f;
    }
    .custom_made_hd {
        background: #9aa76f;
    }
    .help_sel_hd {
        background: #c8af64;
    }
}

//新品首发
.new_com_bd {
    padding: 0 10px 10px;
    height: 502px;
}

.channel {
    a {
        position: relative;
        display: block;
        padding: 18px 0;
        height: 90px;
        h4 {
            border-left: 2px solid $blue;
            padding-left: 4px;
            height: 14px;
            line-height: 14px;
        }
        p {
            color: #999;
            padding: 3px 15px 0 8px;
        }
        em {
            position: absolute;
            @include width-height(90px, 90px);
            right: 0;
            top: 18px;
        }
    }
}

.new_cha {
    border-bottom: $border-s;
    em {
        background: url(../img/new.png) no-repeat 0 0;
    }
}

.new_spe {
    em {
        background: url(../img/spec.png) no-repeat 0 0;
    }
}

//我要定制
.custom_made_bd {
    @extend .new_com_bd;
}

.make {
    @extend .channel;
    a {
        height: 239;
        border: 0;
        em {
            @include width-height(135px, 150px);
            background: url(../img/make.png) no-repeat 0 0;
            top: 78px;
        }
        span {
            position: absolute;
            border: 1px solid #9aa76f;
            height: 24px;
            line-height: 24px;
            color: #9aa76f;
            padding: 0 10px;
            @include border-r(2px, 2px, 2px, 2px);
            top: 129px;
            left: 10px;
        }
    }
}

//帮您选
.help_sel_bd {
    padding: 10px;
    a {
        @include left;
        @include width-height(50%, 200px);
        padding: 18px 0;
        #{$bg-position}: 10px 100px;
        background-repeat: no-repeat;
        span {
            display: block;
            margin-left: 15px;
            color: #999;
            height: 36px;
        }
    }
}

.help_sel_bd {
    .haier {
        background-image: url(../img/gift.png);
        border-right: $border-s;
        border-bottom: $border-s;
    }
    .vip_club {
        background-image: url(../img/diamond.png);
        border-bottom: $border-s;
        padding-left: 10px;
        width: 47%;
    }
    .know {
        background-image: url(../img/know.png);
        border-right: $border-s;
    }
    .help_center {
        background-image: url(../img/scale.png);
        padding-left: 10px;
        width: 47%;
    }
}

//优品专辑
.good {
    margin-top: 30px;
    background: $white;
}

.good_hd {
    position: relative;
    padding: 0;
    h2 {
        position: absolute;
        height: 56px;
        top: -10px;
        line-height: 56px;
        background-color: $blue;
        padding: 0 18px;
        @include border-r;
        @include left;
        i {
            @include width-height(32px, 32px);
            margin-right: 6px;
            #{$bg-position}: 0 -270px;
        }
    }
}

.good_tab {
    @include left;
    margin-left: 156px;
    overflow: hidden;
    li {
        @include left;
        position: relative;
        border-bottom: 2px solid #eaeaea;
        margin-left: -1px;
        width: 128px;
        text-align: center;
        line-height: 46px;
        a {
            display: block;
        }
        i {
            @include width-height(25px, 40px);
            overflow: hidden;
        }
    }
}

.good_bd {
    padding: 10px;
    .good_left_img {
        float: left;
        width: 220px;
        overflow: hidden;
        position: relative;
        height: 332px;
        img {
            width: 230px;
            height: 332px;
            position: absolute;
        }
    }
}

.good_list {
    position: relative;
    float: right;
    width: 940px;
    overflow: hidden;
    .line1 {
        position: absolute;
        width: 1px;
        height: 308px;
        background-color: #eaeaea;
        left: 235px;
        top: 15px;
    }
    .line2 {
        @extend .line1;
        left: 470px;
    }
    .line3 {
        @extend .line1;
        left: 705px;
    }
    .line4 {
        @extend .line1;
        width: 100%;
        height: 1px;
        top: 166px;
        left: 0;
    }
    li {
        float: left;
        width: 235px;
        height: 166px;
        position: relative;
        h4 {
            position: absolute;
            width: 112px;
            height: 36px;
            top: 25px;
            left: 30px;
        }
        strong {
            position: absolute;
            top: 65px;
            left: 30px;
            font-size: 14px;
            color: #ff4949;
        }
        img {
            position: absolute;
            width: 110px;
            height: 110px;
            right: 10px;
            bottom: 10px;
        }
    }
}

//大家都在说
.review {
    margin-top: 30px;
    .review_hd {
        background: $blue;
        i {
            @include width-height(32px, 32px);
            margin-right: 6px;
            #{$bg-position}: -41px -271px;
        }
    }
}

.review_bd {
    padding-top: 10px;
    overflow: hidden;
}

.everyone {
    width: 1800px;
    padding-bottom: 10px;
    li {
        margin-right: 10px;
        float: left;
        width: 290px;
        background-color: #fff;
        padding-bottom: 10px;
        overflow: hidden;
        img {
            width: 290px;
            height: 250px;
        }
        .tps_links {
            display: block;
            margin: 10px 0;
            padding: 0 10px;
        }
        h4 {
            float: left;
            width: 70%;
            overflow: hidden;
            color: #999;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        strong {
            float: right;
            font-size: 12px;
            color: #ff4949;
        }
        p {
            color: #333;
            margin: 10px 0;
            height: 36px;
        }
        span {
            padding: 0 10px;
            line-height: 24px;
            float: right;
            color: #666;
        }
    }
}

//为您推荐
.foryou {
    margin-top: 30px;
    padding-bottom: 30px;
    .foryou_hd {
        background: $blue;
        i {
            @include width-height(32px, 32px);
            margin-right: 6px;
            #{$bg-position}: 0 -313px;
        }
    }
}

.foryou_bd {
    ul {
        margin-left: -10px;
        li {
            margin: 10px 0 0 10px;
            width: 230px;
            padding-bottom: 10px;
            float: left;
            background: #fff;
            img {
                display: block;
                width: 160px;
                height: 160px;
                margin: 17px auto;
                position: relative;
                left: 0;
            }
            h4 {
                height: 36px;
                padding: 0 10px;
                margin: 10px 0;
            }
            strong {
                padding: 10px;
                line-height: 18px;
                font-size: 14px;
                color: #ff4949;
            }
        }
    }
}