@import "top";
@import "header";
@import "footer";
@import "copyright";
$white:#fff;
$blue:#2979ff;
$border-s:1px solid #eaeaea;
$bg-position:background-position;
.container {
    background: #f2f2f2;
}

@mixin left(){
    float: left;
}
@mixin width-height($w,$h){
    width: $w;
    height: $h;
}

//兼容border-raidus
@mixin border-r($lt:10px,$rt:10px,$rb:0,$lb:0){
    border-radius:$lt $rt $rb $lb;
    -webkit-border-radius:$lt $rt $rb $lb;
    -ms-border-radius:$lt $rt $rb $lb;
    -o-border-radius:$lt $rt $rb $lb;
    -moz-border-radius:$lt $rt $rb $lb;
}

.wrap {
    @extend %wrap;
}

//各版块标题
.mod_hd {
    height: 60px;
    line-height: 60px;
    @include border-r;
    padding: 0 18px;
    h2 {
        @include left;
        color: $white;
        font-size: 18px;
        font-weight: 400;
    }
}

//幻灯片部分
.main_top {
    height: 430px;
    position: relative;
}

.banner {
    @include width-height(952px, 430px);
    @include left;
    background: rgb(225, 238, 154);
}
//幻灯片右边部分
.right_inf {
    width: 230px;
    float: right;
    background: $white;
}

.user_inf {
    padding: 10px;
    text-align: center;
    .userimg {
        @include width-height(66px, 66px);
        margin: 0 auto;
        background: url(../img/idx_no_login.png) no-repeat -3px -3px;
        a {
            display: block;
            height: 66px;
        }
    }
    .user_n {
        height: 20px;
        line-height: 20px;
        padding: 5px 0;
    }
    .user_login {
        a {
            height: 24px;
            line-height: 24px;
            font-size: 12px;
            @include border-r(2px,2px,2px,2px);
            padding: 4px 11px;
            background-color: $blue;
            margin: 0 5px;
            color: $white;
        }
    }
}

.vip_inf {
    overflow: hidden;
    a {
        display: block;
        @include left;
        text-align: center;
        width: 50%;
        padding: 8px 0;
        border: $border-s;
        border-left: 0;
        i {
            display: block;
            @include width-height(28px, 22px);
            margin-bottom: 5px;
            position: relative;
            left: 50%;
            margin-left: -14px;
        }
    }
    .left_vip {
        margin-left: -1px;
        i {
            #{$bg-position}: 0 -40px;
        }
    }
    .left_vip:hover {
        color: $blue;
        i {
            #{$bg-position}: -36px -40px;
        }
    }
    .right_wei {
        border-right: 0;
        i {
            #{$bg-position}: 0 -73px;
        }
    }
    .right_wei:hover {
        color: $blue;
        i {
            #{$bg-position}: -36px -73px;
        }
    }
}

.notice_inf {
    padding: 0 10px 10px;
    .notice_head {
        height: 32px;
        line-height: 32px;
        border-bottom: 1px #eaeaea solid;
        span {
            @include left;
            border-bottom: 1px $blue solid;
            color: #333;
        }
        a {
            float: right;
        }
    }
    .notice_list {
        padding-top: 8px;
        li {
            height: 22px;
            line-height: 22px;
            overflow: hidden;
        }
    }
}

.service_inf {
    border-top: $border-s;
    overflow: hidden;
    li {
        @include left;
        @include width-height(50%, 40px);
        line-height: 40px;
        border-right: $border-s;
        border-bottom: $border-s;
        margin-right: -1px;
        margin-bottom: -1px;
        text-align: center;
        a:hover {
            color: $blue;
        }
        i {
            @include width-height(25px, 25px);
            margin-right: 3px;
        }
    }
    li:first-child i {
        #{$bg-position}: 0 -131px;
    }
    li:first-child+li i {
        #{$bg-position}: -36px -132px;
    }
    li:first-child+li+li i {
        #{$bg-position}: 0 -163px;
    }
    li:first-child+li+li+li i {
        #{$bg-position}: -36px -163px;
    }
}
//幻灯片左边导航
.nav_list {
    @include width-height(192px, 400px);
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    opacity: 0.6;
    filter: alpha(opacity=60);
    color: $white;
    font-size: 14px;
    padding: 15px 0;
    li {
        height: 36px;
        line-height: 36px;
        padding-left: 12px;
        position: relative;
        a {
            color: $white;
            display: block;
        }
        i {
            display: inline-block;
            @include width-height(8px, 13px);
            background: url(../img/jiantou.png) no-repeat;
            position: absolute;
            right: 10px;
            top: 12px;
        }
    }
}

//各分会场
.part {
    margin-top: 30px;
    ul {
        margin-left: -10px;
    }
    li {
        @include width-height(290px, 150px);
        position: relative;
        @include left;
        overflow: hidden;
        margin-left: 10px;
        img {
            @include width-height(300px, 150px);
        }
    }
}

//精品推荐
.rec_hd {
    background: $blue;
    margin-top: 30px;
    h2 {
        i {
            @include width-height(32px, 32px);
            margin-right: 6px;
            #{$bg-position}: -37px -231px;
        }
    }
}

.rec_bd {
    padding: 10px;
    background-color: $white;
    overflow: hidden;
    .left_img {
        @include left;
        width: 220px;
        overflow: hidden;
        img {
            @include width-height(230px, 400px);
        }
    }
}
//新品首发
.new {
    margin-top: 30px;
    overflow: hidden;
    .new_ul {
        margin-left: -10px;
    }
}

.new_all {
    @include left;
    width: 390px;
    margin-left: 10px;
    background-color: $white;
    .new_com_hd {
        background: #7aa58f;
    }
    .custom_made_hd {
        background: #9aa76f;
    }
    .help_sel_hd {
        background: #c8af64;
    }
}

.new_com_bd {
    height: 400px;
}

//优品专辑
.good {
    margin-top: 30px;
    background: $white;
}

.good_hd {
    position: relative;
    padding: 0;
    h2 {
        position: absolute;
        height: 56px;
        top: -10px;
        line-height: 56px;
        background-color: $blue;
        padding: 0 18px;
        @include border-r;
        @include left;
        i {
            @include width-height(32px, 32px);
            margin-right: 6px;
            #{$bg-position}: 0 -270px;
        }
    }
}

.good_tab {
    @include left;
    margin-left: 156px;
    overflow: hidden;
    li {
        @include left;
        position: relative;
        border-bottom: 2px solid #eaeaea;
        margin-left: -1px;
        width: 128px;
        text-align: center;
        line-height: 46px;
        a {
            display: block;
        }
        i {
            @include width-height(25px, 40px);
            overflow: hidden;
        }
    }
    li:nth-of-type(1) {
        i {
            #{$bg-position}: -75px -356px;
        }
    }
    li:nth-of-type(2) {
        i {
            #{$bg-position}: -175px -356px;
        }
    }
    li:nth-of-type(3) {
        i {
            #{$bg-position}: 0px -356px;
        }
    }
    li:nth-of-type(4) {
        i {
            #{$bg-position}: -25px -356px;
        }
    }
    li:nth-of-type(5) {
        i {
            #{$bg-position}: -50px -356px;
        }
    }
    li:nth-of-type(6) {
        i {
            #{$bg-position}: -100px -356px;
        }
    }
    li:nth-of-type(7) {
        i {
            #{$bg-position}: -125px -356px;
        }
    }
    li:nth-of-type(8) {
        i {
            #{$bg-position}: -150px -356px;
        }
    }
}

.good_bd {
    height: 300px;
}

//大家都在说
.review {
    margin-top: 30px;
    .review_hd {
        background: $blue;
        i {
            @include width-height(32px, 32px);
            margin-right: 6px;
            #{$bg-position}: -41px -271px;
        }
    }
}

.review_bd {
    height: 300px;
}

//为您推荐
.foryou {
    margin-top: 30px;
    .foryou_hd {
        background: $blue;
        i {
            @include width-height(32px, 32px);
            margin-right: 6px;
            #{$bg-position}: 0 -313px;
        }
    }
}

.foryou_bd {
    height: 300px;
}



